.s_cart_content{
    width: 990px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.s_cart_step{
    padding-bottom: 20px;
    margin-top: 40px;
}
.s_cart_step img{
    border: 0;
    vertical-align: bottom;
}
.s_mycart{
    overflow: hidden;
}
.s_mycart .s_inner{
    border: solid 1px #E4E4E4;
}
.s_mycart .js{
    display: block;
    width: 100px;
    height: 30px;
    text-align: center;
    background: red;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    float:right;
}
.s_mycart .form{
    width:1200px;
    height: 50px;
}
.s_mycart .form span{
    display: block;
    width: 200px;
    width: 210px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 19px;
    margin-left: 800px;
}
.s_mycart .s_inner li{
    vertical-align: bottom;
    border-bottom: solid 1px #E4E4E4;
}
.s_mycart .s_inner .s_cartli{
    height: 33px;
    line-height: 33px;
    background-color: #F3F3F3;
    position: relative;
    font-size: 12px;
}
.s_mycart .s_inner .s_cartli .s_checkallspan{
    position: absolute;
    left: 10px;
    top: 0px;
}
.s_mycart .s_inner .s_cartli .s_checkallspan .checkbox{
    vertical-align: middle;
    margin: -2px 5px 0px 0px;
}
.s_mycart .s_inner .s_cartli span{
    display: block;
    height: 33px;
    float: left;
}
.s_mycart .s_inner .s_cartli .s1{
    padding-left: 150px;
    width: 360px;
}
.s_mycart .s_inner .s_cartli .s2{
    width: 140px;
}
.s_mycart .s_inner .s_cartli .s3{
    width: 110px;
}
.s_mycart .s_inner .s_cartli .s4{
    width: 130px;
}
.s_mycart .s_inner .s_cartli .s5{
    width: 96px;
}
.s_mycart .s_inner .s_cartli .s6{
    width: 35px;
}
.s_mycart .s_inner .s_cartli .s7{
    width: 35px;
    margin-left: 52px;
}
.s_mycart .s_inner .s_dleli{
    height: 33px;
    line-height: 33px;
    font-weight: bold;
    background-color: #FFF7E2;
    padding: 0 15px;
    position: relative;
    display: none;
}
.s_mycart .s_inner .s_goodsli{
    border-bottom: solid 1px #E4E4E4;
    height: 90px;
    position: relative;
}
.s_mycart .s_inner .s_goodsli .checkbox{
    position: absolute;
    left: 6px;
    top: 6px;
}
.s_mycart .s_inner .s_goodsli .s_goodsimg{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 33px;
    top: 10px;
}
.s_mycart .s_inner .s_goodsli .s_price{
    color: #D90000;
    font-family: Arial;
    position: absolute;
    left: 328px;
    top: 32px;
    height: 20px;
    display: block;
    width: 80px;
    text-align: center;
}
.s_mycart .s_inner .s_goodsli .s_price .s_discount{
    position: absolute;
    right: -40px;
    top: -25px;
    display: block;
    width: 69px;
    height: 26px;
}
.s_mycart .s_inner .s_goodsli .s_num{
    text-align: center;

    left: 470px;
    top: 33px;
    position: absolute;
}
.s_mycart .s_inner .s_goodsli .s_num .num1{
    width: 30px;
    text-align: center;
}
.s_mycart .s_inner .s_goodsli .s_tit{
    display: block;
    width: 200px;
    overflow: hidden;
    height: 90px;
    margin-left: 116px;
    text-align: center;
    line-height: 90px;
}
.s_mycart .s_inner .s_goodsli .s_num .s_down{
    display: block;
    width: 21px;
    cursor: pointer;
    height: 21px;
    border: 0;
   /* background: url(../img/icon.png) no-repeat -547px -676px;*/
    float: left;
}
.s_mycart .s_inner .s_goodsli .s_num .s_down:hover{
    background: #ccc;
    color:#000;
}
.s_mycart .s_inner .s_goodsli .s_num .s_text{
    float: left;
    width: 37px;
    line-height: 21px;
    height: 21px;
    border: 0;
    padding: 0;
    text-align: center;
    border-top: solid 1px #ABABAB;
    border-bottom: solid 1px #ABABAB;
}
.s_mycart .s_inner .s_goodsli .s_num .s_up{
    width: 21px;
    display: block;
    cursor: pointer;
    height: 21px;
    border: 0;
    background: url(../img/icon.png) no-repeat -605px -676px;
    float: right;
}
.s_mycart .s_inner .s_goodsli .s_point{
    position: absolute;
    top: 30px;
    left: 590px;
    line-height: 25px;
    width: 60px;
    text-align: center;
}
.s_mycart .s_inner .s_goodsli .s_dleprice{
    width: 60px;
    position: absolute;
    left: 722px;
    top: 30px;
    line-height: 25px;
    text-align: center;
    color: #D40000;
}
.s_mycart .s_inner .s_goodsli .s_total{
    width: 60px;
    position: absolute;
    left: 816px;
    top: 30px;
    line-height: 25px;
    text-align: center;
    color: #D40000;
}
.s_mycart .s_inner .s_goodsli .s_control{
    width: 75px;
    position: absolute;
    right: 0;
    top: 23px;
}
.s_mycart .s_inner .s_goodsli .s_control .s_btn{
    padding: 0 0 0 10px;
    position: relative;
    height: 21px;
    line-height: 21px;
}
.s_mycart .s_inner .s_goodsli .s_control .s_btn a{
    color: #3663C9;
    font-size: 12px;
}

